~gens/fusees_bouteilles/module.xml/xmlScLike/schema/rsc_remoteImage.rng

<?xml version="1.0" encoding="UTF-8"?>
<sng:grammar datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes" xmlns:sng="http://relaxng.org/ns/structure/1.0" xmlns:sfile="http://www.utc.fr/ics/scenari/v3/file" xmlns:sp="http://www.utc.fr/ics/scenari/v3/primitive" xmlns:sc="http://www.utc.fr/ics/scenari/v3/core" xmlns:sfm="http://www.utc.fr/ics/scenari/v3/filemeta" xmlns:op="utc.fr:ics/opale3" xmlns:rsc="scenari.eu:remote" xmlns:fw="sc.soft:framework">
<sng:start>

<sng:ref name="rsc_remoteImage"/>

</sng:start>
						<sng:define name="op_imgM">
<sng:element name="op:imgM">
<sng:ref name="_atts"/>
<sng:optional>
<sng:attribute name="xml:space" sk:model="HiddenAttr" sk:fixedValue="default" xmlns:sk="scenari.eu:schema:metaModel">
<sng:data type="string"/>
</sng:attribute>
</sng:optional>
<sng:optional>
<sng:element name="sp:title">
<sng:ref name="_atts"/>
<sng:ref name="op_title"/>
</sng:element>
</sng:optional>
<sng:optional>
<sng:element name="sp:info">
<sng:ref name="_atts"/>
<sng:choice sk:autoCreate="first" xmlns:sk="scenari.eu:schema:metaModel">
<sng:ref name="op_infoBin"/>
</sng:choice>
</sng:element>
</sng:optional>
<sng:optional>
<sng:element name="sp:alt">
<sng:ref name="_atts"/>
<sng:optional>
<sng:element name="sp:type">
<sng:ref name="_atts"/>
<sng:choice>
<sng:value type="string">info</sng:value>
<sng:value type="string">deco</sng:value>
</sng:choice>
</sng:element>
</sng:optional>
<sng:optional>
<sng:element name="sp:altTxt">
<sng:ref name="_atts"/>
<sng:data type="string">
<sng:param name="minLength">1</sng:param>
</sng:data>
</sng:element>
</sng:optional>
<sng:optional>
<sng:element name="sp:desc">
<sng:ref name="_atts"/>
<sng:ref name="op_sTxt"/>
</sng:element>
</sng:optional>
</sng:element>
</sng:optional>
</sng:element>
</sng:define>
<sng:define name="op_infoBin">
<sng:element name="op:infoBin">
<sng:ref name="_atts"/>
<sng:optional>
<sng:attribute name="xml:space" sk:model="HiddenAttr" sk:fixedValue="default" xmlns:sk="scenari.eu:schema:metaModel">
<sng:data type="string"/>
</sng:attribute>
</sng:optional>
<sng:optional>
<sng:element name="sp:cc">
<sng:ref name="_atts"/>
<sng:choice>
<sng:value type="string">by</sng:value>
<sng:value type="string">by-nc</sng:value>
<sng:value type="string">by-nc-nd</sng:value>
<sng:value type="string">by-nc-sa</sng:value>
<sng:value type="string">by-nd</sng:value>
<sng:value type="string">by-sa</sng:value>
<sng:value type="string">zero</sng:value>
<sng:value type="string">gnu-fdl</sng:value>
<sng:value type="string">publicdomain</sng:value>
</sng:choice>
</sng:element>
</sng:optional>
<sng:optional>
<sng:element name="sp:ccVersion">
<sng:ref name="_atts"/>
<sng:choice>
<sng:value type="string">4.0</sng:value>
<sng:value type="string">3.0</sng:value>
<sng:value type="string">2.5</sng:value>
<sng:value type="string">2.0</sng:value>
<sng:value type="string">1.0</sng:value>
</sng:choice>
</sng:element>
</sng:optional>
<sng:optional>
<sng:element name="sp:cpyrgt">
<sng:ref name="_atts"/>
<sng:ref name="op_sPara"/>
</sng:element>
</sng:optional>
</sng:element>
</sng:define>
<sng:define name="op_langM">
<sng:element name="op:langM">
<sng:ref name="_atts"/>
<sng:optional>
<sng:attribute name="xml:space" sk:model="HiddenAttr" sk:fixedValue="default" xmlns:sk="scenari.eu:schema:metaModel">
<sng:data type="string"/>
</sng:attribute>
</sng:optional>
<sng:optional>
<sng:element name="sp:code">
<sng:ref name="_atts"/>
<sng:data type="string">
<sng:param name="minLength">1</sng:param>
</sng:data>
</sng:element>
</sng:optional>
</sng:element>
</sng:define>
<sng:define name="op_sPara">
<sng:element name="op:sPara">
<sng:ref name="_atts"/>
<sng:ref name="op_sPara_blocs"/>
</sng:element>
</sng:define>
<sng:define name="op_sPara_blocs">
<sng:element name="sc:para">
<sng:ref name="op_sPara_id"/>
<sng:ref name="op_sPara_inline"/>
<sng:optional>
<sng:attribute name="xml:space">
<sng:value>preserve</sng:value>
</sng:attribute>
</sng:optional>
<sng:ref name="_atts"/>
</sng:element>
</sng:define>
<sng:define name="op_sPara_inline">
<sng:zeroOrMore>
<sng:choice>
<sng:text/>
<sng:element name="sc:phrase">
<sng:ref name="_atts"/>
<sng:attribute name="role">
<sng:value>url</sng:value>
</sng:attribute>
<sng:ref name="op_sPara_id"/>
<sng:optional>
<sng:attribute name="xml:lang">
<sng:data type="string"/>
</sng:attribute>
</sng:optional>
<sng:ref name="op_urlM"/>
<sng:ref name="op_sPara_inline"/>
</sng:element>
<sng:element name="sc:inlineStyle">
<sng:ref name="_atts"/>
<sng:attribute name="role">
<sng:value>emp</sng:value>
</sng:attribute>
<sng:ref name="op_sPara_id"/>
<sng:ref name="op_sPara_inline"/>
</sng:element>
<sng:element name="sc:inlineStyle">
<sng:ref name="_atts"/>
<sng:attribute name="role">
<sng:value>spec</sng:value>
</sng:attribute>
<sng:ref name="op_sPara_id"/>
<sng:optional>
<sng:ref name="op_txtM"/>
</sng:optional>
<sng:ref name="op_sPara_inline"/>
</sng:element>
</sng:choice>
</sng:zeroOrMore>
</sng:define>
<sng:define name="op_sPara_id">
<sng:optional>
<sng:attribute name="sc:id">
<sng:data type="ID"/>
</sng:attribute>
</sng:optional>
</sng:define>
<sng:define name="op_sTxt">
<sng:element name="op:sTxt">
<sng:ref name="_atts"/>
<sng:ref name="op_sTxt_blocs"/>
</sng:element>
</sng:define>
<sng:define name="op_sTxt_blocs">
<sng:oneOrMore>
<sng:choice>
<sng:element name="sc:para">
<sng:ref name="_atts"/>
<sng:ref name="op_sTxt_id"/>
<sng:optional>
<sng:attribute name="xml:space">
<sng:value>preserve</sng:value>
</sng:attribute>
</sng:optional>
<sng:ref name="op_sTxt_inline"/>
</sng:element>
<sng:element name="sc:itemizedList">
<sng:ref name="_atts"/>
<sng:optional>
<sng:attribute name="role">
<sng:value/>
</sng:attribute>
</sng:optional>
<sng:ref name="op_sTxt_id"/>
<sng:zeroOrMore>
<sng:element name="sc:listItem">
<sng:ref name="_atts"/>
<sng:ref name="op_sTxt_id"/>
<sng:optional>
<sng:ref name="op_sTxt_blocs"/>
</sng:optional>
</sng:element>
</sng:zeroOrMore>
</sng:element>
<sng:element name="sc:orderedList">
<sng:ref name="_atts"/>
<sng:optional>
<sng:attribute name="role">
<sng:value/>
</sng:attribute>
</sng:optional>
<sng:ref name="op_sTxt_id"/>
<sng:zeroOrMore>
<sng:element name="sc:listItem">
<sng:ref name="_atts"/>
<sng:ref name="op_sTxt_id"/>
<sng:optional>
<sng:ref name="op_sTxt_blocs"/>
</sng:optional>
</sng:element>
</sng:zeroOrMore>
</sng:element>
</sng:choice>
</sng:oneOrMore>
</sng:define>
<sng:define name="op_sTxt_inline">
<sng:zeroOrMore>
<sng:choice>
<sng:text/>
<sng:element name="sc:phrase">
<sng:ref name="_atts"/>
<sng:attribute name="role">
<sng:value>url</sng:value>
</sng:attribute>
<sng:ref name="op_sTxt_id"/>
<sng:optional>
<sng:attribute name="xml:lang">
<sng:data type="string"/>
</sng:attribute>
</sng:optional>
<sng:ref name="op_urlM"/>
<sng:ref name="op_sTxt_inline"/>
</sng:element>
<sng:element name="sc:inlineStyle">
<sng:ref name="_atts"/>
<sng:attribute name="role">
<sng:value>emp</sng:value>
</sng:attribute>
<sng:ref name="op_sTxt_id"/>
<sng:ref name="op_sTxt_inline"/>
</sng:element>
<sng:element name="sc:inlineStyle">
<sng:ref name="_atts"/>
<sng:attribute name="role">
<sng:value>spec</sng:value>
</sng:attribute>
<sng:ref name="op_sTxt_id"/>
<sng:optional>
<sng:ref name="op_txtM"/>
</sng:optional>
<sng:ref name="op_sTxt_inline"/>
</sng:element>
</sng:choice>
</sng:zeroOrMore>
</sng:define>
<sng:define name="op_sTxt_id">
<sng:optional>
<sng:attribute name="sc:id">
<sng:data type="ID"/>
</sng:attribute>
</sng:optional>
</sng:define>
<sng:define name="op_title">
<sng:element name="op:title">
<sng:ref name="_atts"/>
<sng:ref name="op_title_blocs"/>
</sng:element>
</sng:define>
<sng:define name="op_title_blocs">
<sng:element name="sc:para">
<sng:ref name="op_title_id"/>
<sng:ref name="op_title_inline"/>
<sng:optional>
<sng:attribute name="xml:space">
<sng:value>preserve</sng:value>
</sng:attribute>
</sng:optional>
<sng:ref name="_atts"/>
</sng:element>
</sng:define>
<sng:define name="op_title_inline">
<sng:zeroOrMore>
<sng:choice>
<sng:text/>
<sng:element name="sc:inlineStyle">
<sng:ref name="_atts"/>
<sng:attribute name="role">
<sng:value>quote</sng:value>
</sng:attribute>
<sng:ref name="op_title_id"/>
<sng:ref name="op_title_inline"/>
</sng:element>
<sng:element name="sc:inlineStyle">
<sng:ref name="_atts"/>
<sng:attribute name="role">
<sng:value>spec</sng:value>
</sng:attribute>
<sng:ref name="op_title_id"/>
<sng:optional>
<sng:ref name="op_txtM"/>
</sng:optional>
<sng:ref name="op_title_inline"/>
</sng:element>
<sng:element name="sc:inlineStyle">
<sng:ref name="_atts"/>
<sng:attribute name="role">
<sng:value>code</sng:value>
</sng:attribute>
<sng:ref name="op_title_id"/>
<sng:ref name="op_title_inline"/>
</sng:element>
<sng:element name="sc:textLeaf">
<sng:ref name="_atts"/>
<sng:attribute name="role">
<sng:value>exp</sng:value>
</sng:attribute>
<sng:ref name="op_title_id"/>
<sng:text/>
</sng:element>
<sng:element name="sc:textLeaf">
<sng:ref name="_atts"/>
<sng:attribute name="role">
<sng:value>ind</sng:value>
</sng:attribute>
<sng:ref name="op_title_id"/>
<sng:text/>
</sng:element>
<sng:element name="sc:textLeaf">
<sng:ref name="_atts"/>
<sng:attribute name="role">
<sng:value>mathtex</sng:value>
</sng:attribute>
<sng:ref name="op_title_id"/>
<sng:text/>
</sng:element>
<sng:element name="sc:inlineImg">
<sng:ref name="_atts"/>
<sng:attribute name="role">
<sng:value>form</sng:value>
</sng:attribute>
<sng:ref name="op_title_id"/>
<sng:attribute name="href" xmlns:snga="http://relaxng.org/ns/compatibility/annotations/1.0"><sng:data type="string"/></sng:attribute>
<sng:text xmlns:snga="http://relaxng.org/ns/compatibility/annotations/1.0"/>
</sng:element>
<sng:element name="sc:inlineImg">
<sng:ref name="_atts"/>
<sng:attribute name="role">
<sng:value>ico</sng:value>
</sng:attribute>
<sng:ref name="op_title_id"/>
<sng:attribute name="href" xmlns:snga="http://relaxng.org/ns/compatibility/annotations/1.0"><sng:data type="string"/></sng:attribute>
<sng:text xmlns:snga="http://relaxng.org/ns/compatibility/annotations/1.0"/>
</sng:element>
</sng:choice>
</sng:zeroOrMore>
</sng:define>
<sng:define name="op_title_id">
<sng:optional>
<sng:attribute name="sc:id">
<sng:data type="ID"/>
</sng:attribute>
</sng:optional>
</sng:define>
<sng:define name="op_txtM">
<sng:element name="op:txtM">
<sng:ref name="_atts"/>
<sng:optional>
<sng:attribute name="xml:space" sk:model="HiddenAttr" sk:fixedValue="default" xmlns:sk="scenari.eu:schema:metaModel">
<sng:data type="string"/>
</sng:attribute>
</sng:optional>
<sng:element name="sp:lang">
<sng:ref name="_atts"/>
<sng:choice sk:autoCreate="first" xmlns:sk="scenari.eu:schema:metaModel">
<sng:ref name="op_langM"/>
</sng:choice>
</sng:element>
</sng:element>
</sng:define>
<sng:define name="op_urlM">
<sng:element name="op:urlM">
<sng:ref name="_atts"/>
<sng:optional>
<sng:attribute name="xml:space" sk:model="HiddenAttr" sk:fixedValue="default" xmlns:sk="scenari.eu:schema:metaModel">
<sng:data type="string"/>
</sng:attribute>
</sng:optional>
<sng:element name="sp:url">
<sng:ref name="_atts"/>
<sng:data type="string">
<sng:param name="minLength">1</sng:param>
</sng:data>
</sng:element>
<sng:optional>
<sng:element name="sp:title">
<sng:ref name="_atts"/>
<sng:data type="string">
<sng:param name="minLength">1</sng:param>
</sng:data>
</sng:element>
</sng:optional>
<sng:optional>
<sng:element name="sp:doc">
<sng:ref name="_atts"/>
<sng:optional>
<sng:element name="sp:type">
<sng:ref name="_atts"/>
<sng:data type="string">
<sng:param name="minLength">1</sng:param>
</sng:data>
</sng:element>
</sng:optional>
<sng:optional>
<sng:element name="sp:weight">
<sng:ref name="_atts"/>
<sng:data type="string">
<sng:param name="minLength">1</sng:param>
</sng:data>
</sng:element>
</sng:optional>
<sng:optional>
<sng:element name="sp:lang">
<sng:ref name="_atts"/>
<sng:choice sk:autoCreate="first" xmlns:sk="scenari.eu:schema:metaModel">
<sng:ref name="op_langM"/>
</sng:choice>
</sng:element>
</sng:optional>
</sng:element>
</sng:optional>
</sng:element>
</sng:define>
<sng:define name="rsc_remoteImage">
<sng:element name="rsc:remoteImage">
<sng:ref name="_atts"/>
<sng:ref name="op_imgM"/>
<sng:element name="sc:location">
<sng:data type="string">
<sng:param name="minLength">1</sng:param>
</sng:data>
</sng:element>
</sng:element>
</sng:define>

<sng:define name="_atts">
<sng:optional>
<sng:attribute name="sc:ignore">
<sng:data type="string"/>
</sng:attribute>
</sng:optional>
</sng:define>
</sng:grammar>